* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #2c3e50;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #ffffff;
    width: 100%;
    max-width: 350px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.display {
    min-height: 150px;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #c0c0c0;
    color: rgb(0, 0, 0);
    text-align: right;
    flex: 1 1 0%;
    border-radius: 1.5rem 1.5rem 0 0;
}

.display .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.display .input {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #000000;
}

.display .output {
    font-size: 3.5rem;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
}

.keys {
    background-color: #424242;
    padding: 1.5rem;
    border-radius: 0 0 1.5rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
}

.keys .key {
    position: relative;
    cursor: pointer;
    display: block;
    height: 0;
    padding-top: 100%;
    background-color: #e0e0e0;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    user-select: none;
}

.keys .key span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    font-weight: 600;
    color: #333333;
}

.keys .key:hover {
    background-color: #d0d0d0;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.keys .key.operator {
    background-color: #e64e20;
}

.keys .key.operator span {
    color: white;
}

.keys .key.action {
    background-color: #4caf50;
}

.keys .key.action span {
    color: white;
}

.keys .key.double-width {
    grid-column: span 2;
}
